@import "tailwindcss";

@theme {
  /* Base */
  --color-background: #ffffff;
  --color-foreground: #0f172a;

  /* Brand / Actions */
  --color-primary: #9b5de5;    
  --color-secondary: #f15bb5;
  --color-accent: #fee440;     

  /* Status */
  --color-info: #00bbf9;        
  --color-success: #00f5d4;
  --color-danger: #ef4444;

  /* UI */
  --color-surface: #f8fafc;
  --color-muted: #e5e7eb;

  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html[data-theme="dark"] {
  --color-background: #020617;
  --color-foreground: #e5e7eb;

  --color-primary: #b28cff;
  --color-secondary: #f472c7;
  --color-accent: #fde68a;

  --color-info: #38bdf8;
  --color-success: #2dd4bf;
  --color-danger: #f87171;

  --color-surface: #0f172a;
  --color-muted: #334155;
}
